table,
th,
td {
    border: solid 3px black;
    border-collapse: collapse;

}

body {
    background-image: url(img/背景.jpg);
    background-size: contain;
}

img {
    width: 100%;
    width: 300px;
    height: 300px;
}

table {
    color: red;
}

thead {
    background-color: black;
}